In [ ]:
import numpy as np
import pandas as pd

Clean Data

In [ ]:
title=pd.read_csv('titles.csv')
dscpt=title['description']
dscpt.isnull()
len(title[title['description'].isnull()])
#The first step: find out null rows and delete

18

In [ ]:
print('null id: ', len(title[title['id'].isnull()]))
print('null title: ', len(title[title['title'].isnull()]))
print('null type: ', len(title[title['type'].isnull()]))
print('null description: ', len(title[title['description'].isnull()]))
print('null release_year: ', len(title[title['release_year'].isnull()]))
print('null age_certification: ', len(title[title['age_certification'].isnull()]))
print('null runtime: ', len(title[title['runtime'].isnull()]))
print('null genres: ', len(title[title['genres'].isnull()]))
print('null production_contries: ', len(title[title['production_countries'].isnull()]))
print('null seasons: ', len(title[title['seasons'].isnull()]))

null id:  0
null title:  1
null type:  0
null description:  18
null release_year:  0
null age_certification:  2619
null runtime:  0
null genres:  0
null production_contries:  0
null seasons:  3744

In [ ]:
title = title[title['description'].notnull()]
print('null description: ', len(title[title['title'].isnull()]))

null description:  0

Separate into two tables based on release year

In [ ]:
before_covid=title[title['release_year']<=2020]
after_covid=title[title['release_year']>2020]

Separate into four tables based on type

In [ ]:
before_covid_show=before_covid[before_covid['type']=='SHOW']
after_covid_show=after_covid[after_covid['type']=='SHOW']
before_covid_movie=before_covid[before_covid['type']=='MOVIE']
after_covid_movie=after_covid[after_covid['type']=='MOVIE']

Tokenizing

In [ ]:
import nltk
#nltk.download('all')

In [ ]:
#see the effect of word_tokenize
from nltk.tokenize import word_tokenize
text = title['description'][0]
print(word_tokenize(text))

['This', 'collection', 'includes', '12', 'World', 'War', 'II-era', 'propaganda', 'films', '—', 'many', 'of', 'which', 'are', 'graphic', 'and', 'offensive', '—', 'discussed', 'in', 'the', 'docuseries', '``', 'Five', 'Came', 'Back', '.', "''"]

In [ ]:
#word tokenize, regards puntuations as words as well. if a word appears lily's, 

for df in [before_covid_show, after_covid_show, before_covid_movie, after_covid_movie]:
  df['word_tokenize'] = df.apply(lambda df: nltk.word_tokenize(df['description'].lower()), axis=1)
print(before_covid_show['word_tokenize'])
before_covid_show.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0       [this, collection, includes, 12, world, war, i...
5       [a, british, sketch, comedy, series, with, the...
26      [monty, python, 's, fliegender, zirkus, consis...
35      [a, stand-up, comedian, and, his, three, offbe...
44      [michael, long, ,, an, undercover, police, off...
                              ...
4655    [``, the, good, bandit, '', introduces, the, n...
4672    [the, experiences, of, the, first, group, of, ...
4680    [``, miss, culinary, '', reveals, the, brillia...
4688    [from, decorating, his, home, to, devouring, s...
4691    [with, help, from, celebrity, guests, and, a, ...
Name: word_tokenize, Length: 1612, dtype: object

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,word_tokenize
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,"[this, collection, includes, 12, world, war, i..."
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,"[a, british, sketch, comedy, series, with, the..."
26,ts45948,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,['comedy'],[],1.0,tt0202477,8.1,2151.0,1.487,7.000,"[monty, python, 's, fliegender, zirkus, consis..."
35,ts20681,Seinfeld,SHOW,A stand-up comedian and his three offbeat frie...,1989,TV-PG,24,['comedy'],['US'],9.0,tt0098904,8.9,308824.0,130.213,8.301,"[a, stand-up, comedian, and, his, three, offbe..."
44,ts22082,Knight Rider,SHOW,"Michael Long, an undercover police officer, is...",1982,TV-PG,51,"['scifi', 'action', 'crime', 'drama']",['US'],4.0,tt0083437,6.9,34115.0,50.267,7.500,"[michael, long, ,, an, undercover, police, off..."

In [ ]:
#regex tokenize, extract words without separating 
from nltk.tokenize import RegexpTokenizer
regexp = RegexpTokenizer('\w+\'*\w*')
before_covid_show['description'].apply(regexp.tokenize)

0       [This, collection, includes, 12, World, War, I...
5       [A, British, sketch, comedy, series, with, the...
26      [Monty, Python's, Fliegender, Zirkus, consiste...
35      [A, stand, up, comedian, and, his, three, offb...
44      [Michael, Long, an, undercover, police, office...
                              ...
4655    [The, Good, Bandit, introduces, the, new, narc...
4672    [The, experiences, of, the, first, group, of, ...
4680    [Miss, Culinary, reveals, the, brilliance, of,...
4688    [From, decorating, his, home, to, devouring, s...
4691    [With, help, from, celebrity, guests, and, a, ...
Name: description, Length: 1612, dtype: object

In [ ]:
#import stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
#drop stopwords

for df in [before_covid_show, after_covid_show, before_covid_movie, after_covid_movie]:
  df['word_tokenize_nosw'] = df['word_tokenize'].apply(lambda x: [item for item in x if item not in stop])
print(before_covid_movie['word_tokenize_nosw'])
before_covid_movie.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

1       [mentally, unstable, vietnam, war, veteran, wo...
2       [intent, seeing, cahulawassee, river, 's, turn...
3       [king, arthur, ,, accompanied, squire, ,, recr...
4       [12, american, military, prisoners, world, war...
6       [brian, cohen, average, young, jewish, man, ,,...
                              ...
4685    [partner, crime, goes, missing, ,, small-time,...
4686    [provocative, personal, documentary, ,, direct...
4687    [santa, needs, serious, help, prepping, presen...
4689    [high, end, yaariyaan, tale, 3, friends, ranji...
4690    [italian, comedian, edoardo, ferrario, riffs, ...
Name: word_tokenize_nosw, Length: 3063, dtype: object

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,word_tokenize,word_tokenize_nosw
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,"[a, mentally, unstable, vietnam, war, veteran,...","[mentally, unstable, vietnam, war, veteran, wo..."
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,"[intent, on, seeing, the, cahulawassee, river,...","[intent, seeing, cahulawassee, river, 's, turn..."
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811,"[king, arthur, ,, accompanied, by, his, squire...","[king, arthur, ,, accompanied, squire, ,, recr..."
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600,"[12, american, military, prisoners, in, world,...","[12, american, military, prisoners, world, war..."
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,395024.0,17.770,7.800,"[brian, cohen, is, an, average, young, jewish,...","[brian, cohen, average, young, jewish, man, ,,..."

In [ ]:
from nltk.stem import WordNetLemmatizer

wordnet_lem = WordNetLemmatizer()

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

In [ ]:
#sentence tokenize, split by period only

for df in [before_covid_show, after_covid_show, before_covid_movie, after_covid_movie]:
  df['sent_tokenize'] = df.apply(lambda df: nltk.sent_tokenize(df['description'].lower()), axis=1)
print(before_covid_show['sent_tokenize'])
before_covid_show.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0       [this collection includes 12 world war ii-era ...
5       [a british sketch comedy series with the shows...
26      [monty python's fliegender zirkus consisted of...
35      [a stand-up comedian and his three offbeat fri...
44      [michael long, an undercover police officer, i...
                              ...
4655    ["the good bandit" introduces the new narco-co...
4672    [the experiences of the first group of kuwaiti...
4680    ["miss culinary" reveals the brilliance of a y...
4688    [from decorating his home to devouring sweet, ...
4691    [with help from celebrity guests and a glam sq...
Name: sent_tokenize, Length: 1612, dtype: object

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,word_tokenize,word_tokenize_nosw,sent_tokenize
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,"[this, collection, includes, 12, world, war, i...","[collection, includes, 12, world, war, ii-era,...",[this collection includes 12 world war ii-era ...
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,"[a, british, sketch, comedy, series, with, the...","[british, sketch, comedy, series, shows, compo...",[a british sketch comedy series with the shows...
26,ts45948,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,['comedy'],[],1.0,tt0202477,8.1,2151.0,1.487,7.000,"[monty, python, 's, fliegender, zirkus, consis...","[monty, python, 's, fliegender, zirkus, consis...",[monty python's fliegender zirkus consisted of...
35,ts20681,Seinfeld,SHOW,A stand-up comedian and his three offbeat frie...,1989,TV-PG,24,['comedy'],['US'],9.0,tt0098904,8.9,308824.0,130.213,8.301,"[a, stand-up, comedian, and, his, three, offbe...","[stand-up, comedian, three, offbeat, friends, ...",[a stand-up comedian and his three offbeat fri...
44,ts22082,Knight Rider,SHOW,"Michael Long, an undercover police officer, is...",1982,TV-PG,51,"['scifi', 'action', 'crime', 'drama']",['US'],4.0,tt0083437,6.9,34115.0,50.267,7.500,"[michael, long, ,, an, undercover, police, off...","[michael, long, ,, undercover, police, officer...","[michael long, an undercover police officer, i..."

In [84]:
#split by comma, period and semicolon

import re

before_covid_show_new = before_covid_show['description'].copy()
after_covid_show_new = after_covid_show['description'].copy()
before_covid_movie_new = before_covid_movie['description'].copy()
after_covid_movie_new = after_covid_movie['description'].copy()

before_covid_show_senlist = []
for i in range(len(before_covid_show)):
  a=re.split('[;,.]', before_covid_show_new.reset_index().drop(['index'],axis=1)['description'][i])
  before_covid_show_senlist.append(a[0:-1])


after_covid_show_senlist = []
for i in range(len(after_covid_show)):
  b=re.split('[;,.]',after_covid_show_new.reset_index().drop(['index'],axis=1)['description'][i])
  after_covid_show_senlist.append(b[0:-1])


before_covid_movie_senlist= []
for i in range(len(before_covid_movie)):
  c=re.split('[;,.]',before_covid_movie_new.reset_index().drop(['index'],axis=1)['description'][i])
  before_covid_movie_senlist.append(c[0:-1])


after_covid_movie_senlist= []
for i in range(len(after_covid_movie)):
  d=re.split('[;,.]',after_covid_movie_new.reset_index().drop(['index'],axis=1)['description'][i])
  after_covid_movie_senlist.append(d[0:-1])

In [82]:

before_covid_show_senlist = []
#for i in range(len(before_covid_show)):
a=re.split('[;,.]', before_covid_show_new.reset_index().drop(['index'],axis=1)['description'][3])
before_covid_show_senlist.append(a[0:-1])
#before_covid_show_senlist.append.pop()
before_covid_show_senlist

[["A stand-up comedian and his three offbeat friends weather the pitfalls and payoffs of life in New York City in the '90s",
  " It's a show about nothing"]]

1.clean data (delete null rows)✔
2.separate into two tables✔
3.description:split string method:**word_tokenize()**✔
4.remove stop_word (stop_word dictionnary)✔
5.generate a score for each description and then categorize into three sets:positive negaetive neutral